[submodule "ext/doctest"]
	path = ext/doctest
	url = https://github.com/onqtam/doctest
[submodule "ext/rapidxml"]
	path = ext/rapidxml
	url = https://github.com/dwd/rapidxml
[submodule "ext/utf-cpp"]
	path = ext/utf-cpp
	url = git@github.com:ww898/utf-cpp.git
