[submodule "ext/doctest"]
	path = ext/doctest
	url = https://github.com/onqtam/doctest
[submodule "ext/rapidxml"]
	path = ext/rapidxml
	url = https://github.com/dwd/rapidxml
[submodule "ext/utf-cpp"]
	path = ext/utf-cpp
	url = git@github.com:ww898/utf-cpp.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui
[submodule "ext/freetype"]
	path = ext/freetype
	url = https://github.com/freetype/freetype
[submodule "ext/nativefiledialog"]
	path = ext/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog
